<div class="container bg-primary">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img [src]="imageUrl" alt="logo" class="brand">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="header-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/expenses">Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Cantact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
